<ion-view >
    <!-- view-title='<img style="width: 50%;padding-top: 6px;" class="title-image" src="img/logoside.png" />' -->
<ion-nav-title>
   <img style="width: 50%;padding-top: 6px;" src="img/logoside.svg">
</ion-nav-title>
    <ion-content class="padding has-header">
      
      <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
      </fb:login-button>

      <div id="status">
      </div>
        <div class="bar bar-header">
            
        </div>
        <div class="bar bar-subheader">

            <!-- <div class="card">
                <div class="button-bar">
                    <button class="button button-positive icon-left ion-social-facebook" ng-click="checkin.socialSignin('facebook')" type="button">
                        Checkin With Facebook
                    </button>
                </div>
            </div> -->

            <form ng-submit="checkin()">

                <div class="list padding-top">

                    <div class="card">
                        <div class="item item-divider has-title">
                            <h5 class="title padding-bottom">Please Checkin</h5>
                            <p></o>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="item item-input">
                                    <input id="firstname" name="firstname" type="text" placeholder="Your first name" ng-model="form.fname">
                                </label>
                                <label class="item item-input">
                                    <input id="lastname" name="lastname" type="text" placeholder="Your Last name" ng-model="form.lname">
                                </label>
                                <label class="item item-input">
                                    <input id="lastname" name="lastname" type="number" placeholder="The last 4 digits of your social" ng-model="form.ssn">
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <button class="button button-block button-calm" type="submit">
                            Checkin
                        </button>
                    </div>

                </form>
                <h4 style="color:red;" ng-bind="error"></h4>
            </div>
        </ion-content>
    </ion-view>